#home	{padding-top:0px;}
#border	{background-repeat:repeat-y;margin-top:-3px;}

#carousalWrap	{margin-top:5px;}
#carousalWrap ul {margin-left:0px; }
#carousalWrap .vote	{margin-top:-4px;}
#keyword {background: white;}
#sponsor {float:left;}